
@{
    Layout = null;
}
<!-- Content Body Start -->
@{List<UserViewModel> Users = Model;
    List<RollViewModel> Roles = ViewBag.Roles; }
<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">
    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3 class="title">Пользователи</h3>
        </div>
    </div><!-- Page Heading End -->
</div><!-- Page Headings End -->

<div class="row">
    <div class="col-12 mb-30">
        <button data-id="0" id="ad_usr_btn" class="button button-my float-right"><span><i class="ti-plus"></i>Добавить</span></button>
    </div>
    <!--Default Data Table Start-->
    <div class="col-12 mb-30">
        <div class="box">

            <div class="box-body" style="padding: 0;">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="15%" class="text-center" style="vertical-align: middle">#</th>
                            <th width="20%" class="text-center" style="vertical-align: middle">Имя</th>
                            <th class="text-center" style="vertical-align: middle">Роль</th>
                            <th class="text-center" style="vertical-align: middle">Адрес</th>
                            <th class="text-center" style="vertical-align: middle">Телефон</th>
                            <th class="text-center" style="vertical-align: middle">Электронный почта</th>
                            <th width="170" class="text-center" style="vertical-align: middle">Действие</th>
                        </tr>
                    </thead>
                    <tbody id="table-adm_user">
                        @if (Users.Count() > 0)
                        {
                            foreach (UserViewModel user in Users)
                            {
                        <tr id="table_item_adm_@user.Id">
                            <th class="text-center act" width="15%" style="vertical-align: middle">
                                @if (user.Image != null)
                                {
                                    <div class="image-cat">
                                        <img src="/uploads/users/@user.Id/@user.Image" alt="">
                                    </div>
                                }
                                else
                                {
                                    <div>Нет фото</div>
                                }
                            </th>
                            @{string rol;
                                rol = (user.RollesId == 1) ? "Администратор" : "Клиент";
                            }
                            <td class="text-center" style="vertical-align: middle"> <strong>@user.FirstName</strong></td>
                            <td class="text-center" style="vertical-align: middle"> <strong>@rol</strong></td>
                            <td class="text-center" style="vertical-align: middle"> <strong>@user.City @user.Addres</strong></td>
                            <td class="text-center" style="vertical-align: middle">@user.Phone</td>
                            <td class="text-center" style="vertical-align: middle">@user.Email</td>
                            <td width="170" class="text-center act" style="vertical-align: middle">
                                <span data-id="@user.Id" id="edit_user" class="ti-pencil edit-item mr-10"></span>
                                <span data-id="@user.Id" id="delete_user" class="ti-trash delete-item"></span>
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Default Data Table End-->
    <!-- Modal -->
    <div class="modal fade" id="add_user_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление нового пользователья</h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <form>
                            <div id="error_pole" class="alert alert-danger d-none" role="alert">
                            </div>
                            <div class="row mbn-20">

                                <!--Single Select-->
                                <div class="col-12 mb-20">
                                    <h5 class="sub-title">Рол *</h5>
                                    <select id="role_new" class="form-control form-control-sm bSelect">
                                        @if (Roles.Count() > 0)
                                        {
                                            foreach (RollViewModel Role in Roles)
                                            {
                                                <option value="@Role.Id">@Role.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <!--Single Select-->


                                <div class="col-12 mb-20">
                                    <label for="formLayoutEmail3">Фамилия</label>
                                    <input type="text" id="lastname_new" class="form-control form-control-sm" placeholder="">
                                </div>


                                <div class="col-12 mb-20">
                                    <label for="formLayoutUsername3">Имя *</label>
                                    <input type="text" id="firstname_new" class="form-control form-control-sm" placeholder="">
                                </div>

                                <div class="col-12 mb-20">
                                    <label for="formLayoutEmail3">Отчество</label>
                                    <input type="text" id="middlename_new" class="form-control form-control-sm" placeholder="">
                                </div>

                                <div class="col-12 mb-20">
                                    <label for="formLayoutPassword3">Телефон *</label>
                                    <input type="text" id="phone_new" class="form-control form-control-sm" placeholder="">
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="formLayoutPassword3">Е-mail</label>
                                    <input type="text" id="email_new" class="form-control form-control-sm" placeholder="">
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="formLayoutPassword3">Парол *</label>
                                    <input type="text" id="password_new" class="form-control form-control-sm" placeholder="">
                                </div>

                                <div class="col-12 mb-20">
                                    <label for="formLayoutPassword3">Город</label>
                                    <input type="text" id="city_new" class="form-control form-control-sm" placeholder="">
                                </div>

                                <div class="col-12 mb-20">
                                    <label for="formLayoutPassword3">Адрес</label>
                                    <input type="text" id="address_new" class="form-control form-control-sm" placeholder="">
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="formLayoutFile1">Фото (не обязательно)</label>
                                    <input type="file" id="image_new" class="form-control form-control-sm">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save_user" class="button button-primary button-my">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="edit_user_modal">
        <div class="modal-dialog modal-lg">
            <div id="edit_user_modal_body" class="modal-content">

            </div>
        </div>
    </div>
</div>
