@{
    Layout = null;
    CartViewModel cart = Model;
    ProductViewModel prod = ViewBag.GetProduct;
 }
<th width="15%" style="vertical-align: middle">
    @{
        List<Product_GaleryViewModel> product_Galeries = ViewBag.GetImagesProducts;
        int count = product_Galeries.Where(p => p.ProductsId == cart.ProductId).Count();
    }
    @if (count > 0)
    {
        string image = product_Galeries.Where(p => p.ProductsId == cart.ProductId).First().Image;
        <div class="image-cat">
            <img src="/uploads/products/@cart.ProductId/@image" alt="">
        </div>
    }
    else
    {
        <div class="image-cat">
            <img src="~/uploads/products/default.jpg" alt="">
        </div>
    }
</th>
<td width="20%" class="text-center" style="vertical-align: middle"> <strong>@prod.Title</strong></td>
<td class="text-center" style="vertical-align: middle">
    <a class="ti-minus" data-id="@cart.Id" id="_minus"></a>
    <label>@cart.Quantity</label>
    <a class="ti-plus" data-id="@cart.Id" id="_plus"></a>
</td>
<td class="text-center" style="vertical-align: middle">
    <span>@cart.Price TJS</span>
</td>
<td width="170" class="text-center act" style="vertical-align: middle">
    <span data-id="@cart.ProductId" id="add_to_wish" class="ti-heart">    </span>
    <span data-id="@cart.Id" id="delete_product_cart" class="ti-trash delete-item"></span>
</td>